<!doctype html>
<html lang="en">
  <head>
    <% include headerfooter/header %>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script defer src="index.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <title>Friend Ranker: Add</title>
  </head>
  <body>

  <div class="container">
    <form class="needs-validation" novalidate action="/add" method="POST">
    <div class="row">
      <div class="col-sm">
        <section class="form-group col-md-6">
          <label for="rank">Rank:</label>
          <input type="text" class="form-control" placeholder="1-10" name="rank">
        </section>
        <section class="form-group col-md-6">
          <label for="photo">Photo URL:</label>
          <input type="text" class="form-control" placeholder="Photo URL" name="photo">
        </section>
        <section class="form-group col-md-6">
          <label for="name">Name:</label>
          <input type="text" class="form-control" placeholder="Full Name" name="name">
        </section>
        <section class="form-group col-md-6">
          <label for="address">Street Address:</label>
          <input type="text" class="form-control" placeholder="Address" name="address">
        </section>
        <section class="form-group col-md-6">
          <label for="city">City:</label>
          <input type="text" class="form-control" placeholder="City" name="city">
        </section>

        <section class="form-group col-md-6">
          <label for="state">State:</label>
          <div class="input-group mb-3">
            <select class="custom-select" id="inputGroupSelect02" name="state">
              <option selected>State</option>
              <option value="AL">AL</option>
              <option value="AK">AK</option>
              <option value="AZ">AZ</option>
              <option value="AR">AR</option>
              <option value="CA">CA</option>
              <option value="CO">CO</option>
              <option value="CT">CT</option>
              <option value="DE">DE</option>
              <option value="FL">FL</option>
              <option value="GA">GA</option>
              <option value="HI">HI</option>
              <option value="ID">ID</option>
              <option value="IL">IL</option>
              <option value="IN">IN</option>
              <option value="IA">IA</option>
              <option value="KS">KS</option>
              <option value="KY">KY</option>
              <option value="LA">LA</option>
              <option value="ME">ME</option>
              <option value="MD">MD</option>
              <option value="MA">MA</option>
              <option value="MI">MI</option>
              <option value="MN">MN</option>
              <option value="MS">MS</option>
              <option value="MO">MO</option>
              <option value="MT">MT</option>
              <option value="NE">NE</option>
              <option value="NV">NV</option>
              <option value="NH">NH</option>
              <option value="NJ">NJ</option>
              <option value="NM">NM</option>
              <option value="NY">NY</option>
              <option value="NC">NC</option>
              <option value="ND">ND</option>
              <option value="OH">OH</option>
              <option value="OK">OK</option>
              <option value="OR">OR</option>
              <option value="PA">PA</option>
              <option value="RI">RI</option>
              <option value="SC">SC</option>
              <option value="SD">SD</option>
              <option value="TN">TN</option>
              <option value="TX">TX</option>
              <option value="UT">UT</option>
              <option value="VT">VT</option>
              <option value="VA">VA</option>
              <option value="WA">WA</option>
              <option value="WV">WV</option>
              <option value="WI">WI</option>
              <option value="WY">WY</option>
            </select>

          </div>
        </section>

        <section class="form-group col-md-6">
          <label for="phone">Phone Number:</label>
          <input type="text" class="form-control" placeholder="(XXX)XXX-XXXX" name="phone">
        </section>
        <section class="form-group col-md-6">
          <label for="email">Email Address:</label>
          <input type="email" id="email" class="form-control" placeholder="email@email.com" name="email">
        </section>
        <section class="form-group col-md-6">
          <label for="birthday">Birthday:</label>
          <input type="date" class="form-control"  id="date" name="birthday">
        </section>

        <div class="form-group col-md-6">
          <label for="sex">Gender: &nbsp </label>
          <select class="custom-select" name="sex" id="sex">
            <option selected>Gender</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="nonbinary">Non Binary</option>
          </select>
        </div>

      </div>
      <div class="col-sm">
        <section class="form-group col-md-6">
          <label for="date">Date Met:</label>
          <input type="date" id="date" class="form-control" name="date">
        </section>
        <section class="form-group col-md-6">
          <label for="place">Place Met:</label>
          <input type="text" class="form-control" placeholder="Location" name="place">
        </section>
        <section class="form-group col-md-6">
          <label for="note">Note:</label>
          <input type="text" class="form-control" placeholder="Notes" name="note">
        </section>
      </div>
      <div class="col-sm">
        <button type="submit" class="btn btn-primary">Add Friend</button>
        </form>
      </div>
    
    </div>

    <footer>
      <% include headerfooter/footer %>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/style.css">
  </body>
</html>
