<!doctype html>
<html lang="en">
  <head>
    <% include headerfooter/header %>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script defer src="index.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <title>Friend Ranker: Edit</title>
  </head>
  <body>

  <div class="container">
    <div class="row">
      <div class="col-sm">
        <section class="form-group col-md-6">
          <label for="rank">Rank:</label>
          <input type="text" class="form-control" placeholder="1-10" name="rank">
        </section>
        <section class="form-group col-md-6">
          <label for="photo">Photo URL:</label>
          <input type="text" class="form-control" placeholder="Photo URL" name="photo">
        </section>
        <section class="form-group col-md-6">
          <label for="name">Name:</label>
          <input type="text" class="form-control" placeholder="Full Name" name="name">
        </section>
        <section class="form-group col-md-6">
          <label for="address">Street Address:</label>
          <input type="text" class="form-control" placeholder="Address" name="address">
        </section>
        <section class="form-group col-md-6">
          <label for="city">City:</label>
          <input type="text" class="form-control" placeholder="City" name="city">
        </section>
        <section class="form-group col-md-6">
          <label for="state">State:</label>
          <input type="text" class="form-control" placeholder="State" name="state">
        </section>
        <section class="form-group col-md-6">
          <label for="phone">Phone Number:</label>
          <input type="text" class="form-control" placeholder="(XXX)XXX-XXXX" name="phone">
        </section>
        <section class="form-group col-md-6">
          <label for="email">Email Address:</label>
          <input type="text" class="form-control" placeholder="email@email.com" name="email">
        </section>
        <section class="form-group col-md-6">
          <label for="birthday">Birthday:</label>
          <input type="text" class="form-control" placeholder="Month 1, 2000" name="birthday">
        </section>
        <section class="form-group col-md-6">
          <label for="sex">Sex:</label>
          <input type="text" class="form-control" placeholder="Gender" name="sex">
        </section>
      </div>
      <div class="col-sm">
        <section class="form-group col-md-6">
          <label for="date">Date Met:</label>
          <input type="text" class="form-control" placeholder="Month 1,2000" name="date">
        </section>
        <section class="form-group col-md-6">
          <label for="place">Place Met:</label>
          <input type="text" class="form-control" placeholder="Location" name="place">
        </section>
        <section class="form-group col-md-6">
          <label for="note">Note:</label>
          <input type="text" class="form-control" placeholder="Notes" name="note">
        </section>
      </div>
      <div class="col-sm">
        <button type="submit" class="btn btn-primary">Add Friend</button>
      </div>
    </div>

    <footer>
      <% include headerfooter/footer %>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/style.css">
  </body>
</html>
