<!-- views/partials/footer.ejs -->
<style>
  footer {
    position: absolute;
    border-top: 3px solid black;
    background-color: royalblue;
    background: linear-gradient(to bottom, royalblue 0%, darkblue 100%);
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: left;
    padding: 8px 50px 8px;
    font-size: 12px;
    margin-top: 20px;
  }
</style>
<footer>
  <a>&copy; Copyright 2018</a>
</footer>
