<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>Friend Ranker</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>
  header {
    overflow: hidden;
    background-color: royalblue;
    background: linear-gradient(to top, royalblue 0%, darkblue 100%);
    padding: 10px 10px;
    border-bottom: 3px solid black;
  }
  .header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
    color: white;
  }
  .header a.active {
    background-color: dodgerblue;
    color: white;
  }
  .header-right {
    float: right;
  }
</style>

<header class="header">
  <a class="logo" href="http://localhost:8000/friends">Friend Ranker</a>
  <div class="header-right">
    <a href="../public/index.html">Log Out</a>
  </div>
  <div class="header-right">
    <a href="http://localhost:8000/add">Add Friend</a>
  </div>
</header>
